* text=auto
* eol=lf

.git				export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
vendor              export-ignore
makefile            export-ignore
phpunit.xml         export-ignore
tests               export-ignore
LEGACY.md           export-ignore
MEDIA_MIGRATION_CHANGES.md export-ignore


